@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradientShift {
  0% {
    background-position: -200% 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientShift 6s 1s ease infinite alternate ;
}
